body{
  margin: 0px;
  font-family: 'ProximaNova',sans-serif;
}

#header{
  height: 120px;
  background:-webkit-gradient(linear,left top, right top,color-stop(0, #000000),color-stop(0, #2b3749));
  background:-webkit-linear-gradient(left,#000000 0,#2b3749);
  background:linear-gradient(90deg,#000000 0,#2b3749);
}

.header-links {
  margin-top: 28px; 
}

.logo-holder{
  display: flex;
  flex-direction: row;
  font-family:'ProximaNova',sans-serif;
  justify-content: space-between;
  font-weight: 100;
}

.logo {
  width: 300px;
  height: 80px;
  margin-left: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.top-btn{
  width: 230px;
  color: white;
  padding-right: 30px;
}

h1{
font-family:'ProximaNova',sans-serif;
font-weight: 200;
margin-top: 60px;
text-align: center;
font-size: 50px;
color:#000;	
top:100px;
padding-bottom: 10px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 40px;
  padding-top: 60px;
  max-width: 1010px;
}

a {
  text-decoration: none;
}

a.app-cont {
    margin: 0 0 0 25px;
}

.app{
  text-align: center;
  text-decoration: none;
  color: black;
  font-family:'ProximaNova',sans-serif;
  font-size: 20px;
  font-weight: 200;
  width: 205px;
  height: 300px;
  border: #D1D3D4 1px solid;
  border-radius: 3px;
  margin-bottom: 30px;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
}

.app:hover {
  border: #8eb4df 1px solid;
}

.app:after {
    content: "";
    flex: auto;
}

.icon-knesset {
    width: 180px;
    height: 180px;
    margin: auto;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    margin-top: 30px;
    background-image: url(./images/knesset.png);
    background-size: cover;
}

.icon-wordcloud {
    width: 180px;
    height: 180px;
    margin: auto;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    margin-top: 30px;
    background-image: url(./images/wordcloud.png);
    background-size: cover;
}

h2 {
  font-family:'ProximaNova',sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  margin-top: 15px;
  color: #6D6E71;
}

.about {
  font-family:'ProximaNova',sans-serif;
  font-size: 13px;
  text-decoration: none;
  color:#6D6E71;
  
}


.button {
  font-family: 'ProximaNova',sans-serif;
  width:150px;
  border-radius:45px;
  text-align:center;
  background-color: #8CB4E6;
  font-weight:300;
  padding:15px;
  color:white;
  position: relative;
  align-items: center;
  font-size: 20px;
  margin: auto;
}

#main{
      display: flex;
    flex-direction: column;
}

#page-content{ 
 margin-bottom: 210px;
margin-top: 100px;

}

#content {
  margin-top: 100px;
}

#headline{
      display: flex;
    justify-content: center;
}

h3 {
  font-family:'ProximaNova',sans-serif;
  font-size: 240px;
  font-weight: 600;
  text-align: center;
  color: #E6E6E5;
  margin: 0;
} 

h4 {
  font-family: 'ProximaNova',sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  bottom: 610px;
  color:#6D6E71;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;
}

#back {
  color:white;
  position: relative;
}

#text {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 407px;
  margin: auto;
  top: -800px;
}

#text404 {
  display: flex;
  flex-direction: row;
  width: 407px;
  margin: 0 auto;  
}

#h404 {
  padding-top: 18px;
}

.cont1{
  position: relative;
    width: 600px;
    height: 250px;
}

p {
  font-family:'ProximaNova',sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  margin-top: 15px;
  color: #6D6E71;
  width: 350px;
  padding-right: 50px;
  line-height: 22px;
}

#401 {
  margin: 0;
}

#text401 {
  display: flex;
  flex-direction: row;
  width: 407px;
  margin: 0 auto;
}

#text401 h4{
  margin:0;
}

.info-text {
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin-top: 50px;
}

#text500 {
  display: flex;
  flex-direction: row;
  width: 517px;
  margin: 20px auto;
}

a {
 color: #8CB4E6; 
}
